<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" th:href="@{/css/header_styles.css}" />
</head>
<body>
<div th:insert="~{fragments/user_header :: header}"></div>
<h1>Products</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Brand</th>
        <th>Price</th>
        <th>In Stock</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}" th:attr="data-product-id=${product.id}">
        <td th:text="${product.name}">Product Name</td>
        <td th:text="${product.category}">Category</td>
        <td th:text="${product.brand}">Brand</td>
        <td th:text="${product.price}">Price</td>
        <td th:text="${product.inStock}">In Stock</td>
        <td>
            <form th:action="@{/user/addToCart/{productId}(productId=${product.id})}" method="post">
                <button type="submit" th:disabled="${product.inStock == 0}">Add to Cart</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
